/* CSS Document */

div#navigation {
  float:left;
  width:200px;
  height:500px;
  color:#ffffff;
  background-color:#666666;
  border:1px solid #000000;
  padding:5px;}

* html div#navigation {
width:212px;
w\idth: 200px;}

div#content {
  margin-left:213px;
  width:600px;
  height:500px;
  background-color:#ffffff;
  border:1px solid #000000;
  padding:5px;}

a {display:block;}
a:link, a:visited {color:#ffffff;}
