div#head {
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	border:1px solid #32cb01;
	margin-bottom: -1px;
	background-image:
	url('pics/head-1.jpg');
}
div#foot {
	color: white;
	margin-top: -1px;
	padding-left: 15px;
	padding-right: 15px;
	border:1px solid #32cb01;
	background-image:
	url('pics/foot-1.jpg');
}
div#content {
	padding-right: 15px;
	padding-left: 15px;
	border:1px solid #32cb01;
}
body {
	color: white;
	background-color: black;
	font-family: verdana;
	font-size: 80%;
}
a:link, a:visited {
 text-decoration:none;
 padding:2px;
 color:#6f88e5;
 background-color:#000000;
}
a:hover, a:active {
 color: #555555;
}
#nav ul {
	margin-left: 0;
	padding-left: 0;
	width: 100%;
	float: left;
	} 

#nav ul li {
	margin-left: 0;
	padding: 3px 15px;
	border:1px solid #32cb01;
	list-style: none;
	float: left;
	position: relative;
	width: 10em;
	background-color: #000000;
	}
	
		
#nav ul li.here {
	margin-left: 0;
	border-bottom: 0;
	list-style: none;
	float: left;
	}

#nav li ul {
 display: none;
 position: absolute;
 top: 23px;
 left: -1px;
}
#nav li:hover ul {
 display: block;
}
