/* CSS Document */
body {font-family:arial, verdana, sans-serif;}

p{border-color:#000000;}

.none {border-style:none;}
.solid {border-style:solid;}
.dotted {border-style:dotted;}
.dashed {border-style:dashed;}
.double {border-style:double;}
.groove {border-style:groove;}
.ridge {border-style:ridge;}
.inset {border-style:inset;}
.outset {border-style:outset;}
.hidden {border-style:hidden;}